
ComplianceTrainer/.vs/config/applicationhost.config
ComplianceTrainer/.vs/ComplianceTrainer/v15/.suo
ComplianceTrainer/ComplianceTrainer/bin/ComplianceTrainer.pdb
ComplianceTrainer/ComplianceTrainer/obj/Debug/ComplianceTrainer.csproj.FileListAbsolute.txt
ComplianceTrainer/ComplianceTrainer/obj/Debug/ComplianceTrainer.pdb
ComplianceTrainer/ComplianceTrainer/obj/Debug/CoreCompileInputs.cache
ComplianceTrainer/ComplianceTrainer/bin/ComplianceTrainer.dll
ComplianceTrainer/ComplianceTrainer/bin/ComplianceTrainer.pdb
ComplianceTrainer/ComplianceTrainer/obj/Debug/ComplianceTrainer.dll
ComplianceTrainer/ComplianceTrainer/obj/Debug/ComplianceTrainer.pdb
